github "Alamofire/Alamofire" >= 4.8.2
github "RxSwiftCommunity/RxAlamofire" ~> 5.0.0
github "konkab/AlamofireNetworkActivityLogger" ~> 2.4
github "onevcat/Kingfisher" ~> 5.6.0
github "psharanda/Atributika" ~> 4.8.2
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "Crashlytics.json"

