github "Alamofire/Alamofire"
github "RxSwiftCommunity/RxAlamofire"
github "konkab/AlamofireNetworkActivityLogger"
github "onevcat/Kingfisher"
github "psharanda/Atributika"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "Crashlytics.json"

