<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>448749834490-fpbvanm9im7eqqu1a4d8oko7onjhp92s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448749834490-fpbvanm9im7eqqu1a4d8oko7onjhp92s</string>
	<key>API_KEY</key>
	<string>AIzaSyD5TfwomApyRAbZDM2mJQriyxNg0yGjJ1U</string>
	<key>GCM_SENDER_ID</key>
	<string>448749834490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hnzero</string>
	<key>PROJECT_ID</key>
	<string>hacker-news-zero</string>
	<key>STORAGE_BUCKET</key>
	<string>hacker-news-zero.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448749834490:ios:6c56f4c740243117</string>
	<key>DATABASE_URL</key>
	<string>https://hacker-news-zero.firebaseio.com</string>
</dict>
</plist>